<div class="data-set-wrapper">
    <div class="data-set data-set-fluid">
        <div class="container-fluid container-xl mt-3">
            <div class="data-set-content-wrapper"><input
                    name="_com_liferay_object_web_internal_object_definitions_portlet_ObjectDefinitionsPortlet_57603_null"
                    readonly="" value="" hidden="">
                <div class="c-empty-state c-empty-state-animation">
                    <div class="c-empty-state-image">
                        <div class="c-empty-state-aspect-ratio"><img alt=""
                                                                     class="aspect-ratio-item aspect-ratio-item-fluid"
                                                                     src="/o/classic-theme/images/states/search_state.gif">
                        </div>
                    </div>
                    <div class="c-empty-state-title"><span class="text-truncate-inline"><span class="text-truncate">No Results Found</span></span>
                    </div>
                    <div class="c-empty-state-text">Sorry, no results were found.</div>
                </div>
            </div>
        </div>
    </div>
</div>
